<h1>Enter dealership name:</h1>
<form action='/save_dealership' method='post'>
  <div class='form-group'>
    <label for='name'>Name:</label>
    <input id='name' name='name' class='form-control' type='text'>
  </div>
  <button id='save_dealership' class='btn btn-success'>Save</button>
</form>
