<h1>Search by ID:</h1>
<form action='/dealership_find_id' method='get'>
  <div class='form-group'>
    <label for='dealer_search_id'>ID:</label>
    <input id='dealer_search_id' name='dealer_search_id' class='form-control' type='text'>
  </div>
  <button id='dealership_find_id' class='btn btn-danger'>Search</button>
</form>
