<div class='page-header text-center'>
  <h1>Welcome to Vehicle-O-Rama!</h1>
</div>

<!-- <form action='/vehicle_list' method='get'>
  <button class='btn btn-link' id='vehicle_list' type='submit'>Vehicle List</button>
</form>

<form action='/vehicle_add' method='get'>
  <button class='btn btn-link' id='vehicle_add' type='submit'>Add a Vehicle</button>
</form>

<form action='/vehicle_search' method='get'>
  <button class='btn btn-link' id='vehicle_search' type='submit'>Search</button>
</form> -->
