<!DOCTYPE #html>
<html>
  <head>
    <title>Vehicle-O-Rama</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
  <foot>
      <div class='col-md-4 text-center'>
        <form action='/dealership_list' method='get'>
          <button class='btn btn-link' id='dealership_list' type='submit'>Dealership List</button>
        </form>
      </div>

      <!-- <div class ='col-md-4 text-center'>
        <form action='/vehicle_add' method='get'>
          <button class='btn btn-link' id='vehicle_add' type='submit'>Add a Vehicle</button>
        </form>
      </div>
      <div class='col-md-4 text-center'>
        <form action='/vehicle_search' method='get'>
          <button class='btn btn-link' id='vehicle_search' type='submit'>Search</button>
        </form>
      </div>
      <div class='col-md-4 text-center'>
        <form action='/vehicle_list' method='get'>
          <button class='btn btn-link' id='vehicle_list' type='submit'>Vehicle List</button>
        </form>
      </div> -->
  </foot>
</html>
