<h1>List of Vehicles:</h1>
<ul>
   <% @vehicle_list.each() do |vehicle| %>
    <li> <%= vehicle.make() %> </li>
   <% end %>
</ul>
<div class ='form-group'>
  <p>Options:</p>
  <form action='/vehicle_add' method='get'>
    <button class='btn btn-link' id='vehicle_add' type='submit'>Add a Vehicle</button>
  </form>
</div>
