<h1>Search by ID:</h1>
<form action='/vehicle_details' method='get'>
  <div class='form-group'>
    <label for='search_id'>ID:</label>
    <input id='search_id' name='search_id' class='form-control' type='text'>
  </div>
  <button id='vehicle_details' class='btn btn-danger'>Search</button>
</form>
